@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: 'Inter', sans-serif;
}

.alert-info {
     background: #a9e6fc;
     border: 1px solid #40a5c9;
     
     width: fit-content;
     padding: 15px;
     border-radius: 8px;
     margin: 10px 0;
     color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 25px;
    margin-bottom: 25px;
    color:#333;
}


p {
    margin-bottom: 15px;
    line-height: 1.5;
}

body {
    padding: 20px;
}